/*
* MIXITUP Boilerplate Template Stylesheet
*/

/* ------ DEFAULTS ------ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{
	display: block;
}

table{
	border-spacing: 0;
	border-collapse: collapse;
}

h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}

a{
	text-decoration: none;
}

nav li{
	list-style-type: none;
	display: inline-block;
}

.right {
	text-align: right;
}

/* ------ BOILERPLATE TEMPLATE ------ */

body {
	font-family: 'Open Sans';
	font-weight: 400;
	/* prevent 'scroll-bar jump' */
	overflow-y: scroll;
}
h1 {
	margin-bottom: 30px;
}
h1 strong {
	font-weight: 700;
}
h2 {
	width: 875px;
	margin: 0 auto;
}
h3 {
	margin-bottom: 20px;
	font-weight: 600;
	text-align: left;
}
p {
	max-width: 750px;
	margin: 0 auto 20px;
	font-size: 18px;
	text-align: left;
	line-height: 1.5;
}
p i {
	display: inline-block;
	margin-bottom: 10px;
}
hr {
	margin: 0 0 10px;
	height: 0;
	border: 0 none;
	border-top: 1px solid #eee;
}

nav.header {
	width: 100%;
	position: fixed;
	z-index: 100;
	top: 0px;
	background-color: rgba(256, 256, 256, 0.95);
	height: 40px;
	border-bottom: 1px solid #eee;

	-webkit-box-shadow: 0px 4px 6px -2px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 4px 6px -2px rgba(0,0,0,0.4);
	box-shadow: 0px 4px 6px -2px rgba(0,0,0,0.4);
}

nav.header a {
	color : #000;
	text-decoration: none;
	margin: 5px 0;
}

nav.header h1 {
	display: inline-block;
	font-size: 18px;
	font-weight: 200;
	letter-spacing: 1px;
}

nav.header b {
	font-weight: 600;
  	text-transform: uppercase;
  	letter-spacing: -1px;
}

nav.header .quick-links {
	float: right;
	margin: 5px 0;
}

nav.header .quick-links i.fa {
	font-size: 28px;
}

img.profile {
	max-width: 200px;
	float: left;
	display: inline-block;
	padding: 20px;
}

.grid {
	max-width: none;
	margin-top: 24px;
}

.grid .content-block {
	padding: 2px;
	height: 360px;
	max-height: 360px;
	overflow: hidden;
}

.grid .content-block figure {

	position: relative;
	float: left;
	width: 100%;
	background: #2f3238;
	text-align: center;
	cursor: pointer;

	overflow: hidden;
	margin: 0;
	min-width: 320px;
	max-width: 480px;
	max-height: 360px;
}

.grid .content-block figure img {
	width: 100%;
	height: 100%;
}

/* Mobile */
@media screen and (max-width: 767px) {
	.grid .content-block figure {
		float: none; /* Allow Center Align */
	}

	nav.header h1 span.class {
		display: none;
	}
}