<div class="grid">

	<div ng-repeat="post in posts" 
	     class="content-block col-lg-3 col-md-4 col-sm-6 col-xs-12" 
	     ng-click="focus($index)"
	     ng-class="{'focused' : focused === $index }">

		<figure class="effect-julia">
			<img ng-src="{{ post.img }}">
			<figcaption class="preview">
				<h2 data-ng-bind-html="post.title | to_trusted"></h2>
				<div>
				</div>

			</figcaption>
			<figcaption class="details">
				<div data-ng-bind-html="post.description | to_trusted" class="description"></div>
				<a class="read-more" href="/{{post.slug}}">Read More</div>
			</figcaption>
		</figure>
	</div>
</div>
