--- 
layout: default
title: alexjohnson.io 
hidden: true 
---
<div id="home" class="page">

  <div class="marquee home">
    <div class="background"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 about-me">

          <h1 class="serif">Alex Johnson</h1>
          <p class="serif">I'm a <i>Software Engineer</i>. Specializing in Javascript, User Experience &amp; Angular.js. Graduated from Northeastern University in 2015 with a degree in Computer Science &amp; Interactive Media. Photographer by hobby. When not writing Javascript, I'm either biking around Boston, eating Thai food, or playing Ultimate Frisbee. <span class="highlight">We can do more with the web.</span></p>

          <div class="row cta">
            <div class="col-sm-6">
              <a class="button serif" href="https://alexjohnson3.typeform.com/to/ejbPsb" target="blank">Let's Work Together</a>
            </div>
            <div class="col-sm-6">
              <a class="resume-link serif" href="/resume">Download a Resume</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container resume">

    <h2 class="center section-header">Work Experience</h2>

    <div class="row resume-item">
      <div class="col-xs-12 col-sm-5">
        <img class="preview" src="/img/upload/nightpro-acquisition-v1.0.png">
      </div>
      <div class="col-xs-12 col-sm-7">
        <h5><span class="">Software Engineer</span> <span class="serif dates">2016-2017</span></h5>
        <h2>NightPro</h2>
        <p class="serif">NightPro is a venue management platform for nightclubs, lounges, bars and restaurants.  NightPro offers a cross platform solution for event management, ticketing, guestlists, and fraud detection. I implemented reporting features for clients, created the brand style guide, and wrote and coded nightpro.co - increasing the conversion rates of organic visitors-to-leads by 200%. I also improved the load time of our consumer purchasing widget by over 500%.</p>
        <a class="serif" href="/nightpro/">Read More</a>
      </div>
    </div>

    <div class="row resume-item">
      <div class="col-xs-12 col-sm-5">
        <img class="preview" src="/img/upload/tablelist-venue.png">
      </div>
      <div class="col-xs-12 col-sm-7">
        <h5><span class="">Lead Web Developer</span> <span class="serif dates">2014-2017</span></h5>
        <h2>Tablelist</h2>
        <p class="serif">Tablelist is real time online reservation platform for nightlife events and venues. As the seventh employee on the team, I built and shipped tablelist.com. As the lead web developer, I invested the next three years into improving the features, user experience, SEO and conversion rates on the site. During my time, 1.7 million browser sessions created transactions for over $9.1 million dollars of revenue. Organic SEO traffic increased by over 300%, and conversion rates by 15% in the last year alone. </p>
        <a class="serif" href="/tablelist/">Read More</a>
      </div>
    </div>

    <div class="row resume-item">
      <div class="col-xs-12 col-sm-5">
        <img class="preview" src="/img/upload/texture-technologies-customers.png">
      </div>
      <div class="col-xs-12 col-sm-7">
        <h5><span class="">Software Engineer</span> <span class="serif dates">2008-2014</span></h5>
        <h2>Texture Technologies</h2>
        <p class="serif">Texture Technologies distributes and supports high precision testing equipment for research and quality assurance. I have worked with Texture Technologies for a few years, creating and updating their website, filming training videos, and creating web solutions for training content.</p>
        <a class="serif" href="/texture-technologies/">Read More</a>
      </div>
    </div>

    <div class="row resume-item">
      <div class="col-xs-12 col-sm-5">
        <img class="preview" src="/img/upload/evertrue-grader.png">
      </div>
      <div class="col-xs-12 col-sm-7">
        <h5><span class="">Web Developer</span> <span class="serif dates">2013</span></h5>
        <h2>EverTrue</h2>
        <p class="serif">EverTrue is a Boston Startup building solutions for Alumni Networks and Academic Fundraising. As one of two web developers, I built and improved a backbone.js-powered client self service tool to support automation of mobile app building and maintenance. Focused on browser compatability and responsive design, as well as implementing hubspot e-mail templates and custom landing pages.</p>
        <a class="serif" href="/evertrue/">Read More</a>
      </div>
    </div>

    <h2 class="center section-header">Projects</h2>

    <div class="row resume-item">
      <div class="col-xs-12 col-sm-7">
        <h5><span class="">Solo Developer</span> <span class="serif dates">2015</span></h5>
        <h2>Swarm Navigation</h2>
        <p class="serif">This project was inspired by Craig Reynold’s work emulating the behaviour of organic creatures and the crowd dynamics of flocking behaviour. The goal of this project was to implement Reynold's algorithms in a way that users could interact with flock dynamics.</p>
        <a class="serif" href="/swarm-navigation/">Read More</a>
      </div>
      <div class="col-xs-12 col-sm-5">
        <img class="preview right" src="/img/upload/nightpro-acquisition-v1.0.png">
      </div>
    </div>

    <div class="row resume-item">
      <div class="col-xs-12 col-sm-7">
        <h5><span class="">Lead Developer</span> <span class="serif dates">2015</span></h5>
        <h2>Interactice Media Capstone</h2>
        <p class="serif">Utilizing Leaflet.js and D3.js, this projects builds interactive maps of GPS and Geolocation data. Our goal was to provide a visualization that helps users understand Boston. The data sets chosen will help to build an understanding of a living city. Users will gain a better understanding as to the layout, cultural differences, and changes in user behaviour between different areas of the city.</p>
        <!-- <a class="serif" href="">Read More</a> -->
      </div>
      <div class="col-xs-12 col-sm-5">
        <img class="preview right" src="/img/upload/nightpro-acquisition-v1.0.png">
      </div>
    </div>

    <div class="row resume-item">
      <div class="col-xs-12 col-sm-7">
        <h5><span class="">Lead Developer</span> <span class="serif dates">2014</span></h5>
        <h2>G-Player Spacial</h2>
        <p class="serif">The goal was to create a web-based tool that allows complex visualizations and analyses of player behavior in a virtual environment. G-Player aims to provide the Northeastern Game Department with the ability to run data visualization on big-data queries to identify player behaviour trends between personality types. As the lead developer, I lead a team of 5 students over the course of 6 months to design and implement a working prototype. The Northeastern Game Department hired two full time developers to continue my work on this project, as well as taking initial steps to file patents on the technology and design.</p>
        <a class="serif" href="/g-player/">Read More</a>
      </div>
      <div class="col-xs-12 col-sm-5">
        <img class="preview right" src="/img/upload/nightpro-acquisition-v1.0.png">
      </div>
    </div>

    <h2 class="center section-header">Photography</h2>

<!--     <div class="row resume-item">
      <div class="col-sm-12">
        <h5><span class="">Studio Work</span> <span class="serif dates">2017</span></h5>
        <h2>Portrait &amp; Product Photography</h2>
        <p class="serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pellentesque tortor eu sapien pulvinar, eget ultrices urna malesuada. Cras a fringilla risus. Morbi molestie velit eu felis ultrices venenatis. Duis consectetur a ligula vitae sollicitudin. Fusce vitae est consectetur, aliquam erat porttitor, sollicitudin dui. </p>
      </div>
    </div> -->

    <div class="row">
      <!-- <div class="col-sm-4 card-vertical">
        <div class="card-vertical-background" style="background: url('/img/upload/swarm-navigation-v1.3.png');">
          <div class="text">
          <h4 class="serif">FEATURED</h4>
          <h2 class="serif">Botswana &amp; South Africa</h2>
          <p class="serif">A few photos from South Africa and Botswana. In 2016, I spent a few weeks in Cape Town, South Africa, as well as the Okavango Delta in Botswana. With a quick pass through Istanbul</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 card-vertical">
        <div class="card-vertical-background" style="background: url('/img/upload/swarm-navigation-v1.3.png');">
        </div>
      </div>
      <div class="col-sm-4 card-vertical">
        <div class="card-vertical-background" style="background: url('/img/upload/swarm-navigation-v1.3.png');">
        </div>
      </div> -->
    </div>
    <div class="resume-item photo-project col-sm-12">
      <div class="">
        <div class="preview"></div>
        <h5><span class="">Photography</span></h5>
        <h2>Best of Photography</h2>
        <p class="serif">...</p>
        <a class="serif">See More</a>
      </div>
    </div>

    <div class="resume-item photo-project col-sm-6">
      <div class="">
        <div class="preview"></div>
        <h5><span class="">Travel &amp; Landscape</span></h5>
        <h2>Zion National Park</h2>
        <p class="serif">...</p>
        <a class="serif">See More</a>
      </div>
    </div>

    <div class="resume-item photo-project col-sm-6">
      <div class=""> 
        <div class="preview"></div>
        <h5><span class="">Travel &amp; Landscape</span></h5>
        <h2>South Africa &amp; Botswana</h2>
        <p class="serif">A few photos from South Africa and Botswana. In 2016, I spent a few weeks in Cape Town, South Africa, as well as the Okavango Delta in Botswana. With a quick pass through Istanbul</p>
        <a class="serif" href="/botswana/">See More</a>
      </div>
    </div>

    <div class="resume-item photo-project col-sm-6">
      <div class="">
        <div class="preview"></div>
        <h5><span class="">Travel &amp; Landscape</span></h5>
        <h2>Thailand</h2>
        <p class="serif">A collection from Thailand. In 2015, Jackson Fields and I spent a month traveling around Thailand. Destinations included Bangkok, Ayuttaya, Khao Sok National Park, Phuket, Ko Samui, and Siem Reap in Cambodia.</p>
        <a class="serif" href="/thailand/">See More</a>
      </div>
    </div>
<!-- 
    <div class="resume-item photo-project col-sm-6">
      <div class="">
        <h5><span class="">Sports &amp; Activity</span></h5>
        <h2>Ultimate Frisbee</h2>
        <p class="serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pellentesque tortor eu sapien pulvinar, eget ultrices urna malesuada. Cras a fringilla risus. Morbi molestie velit eu felis ultrices venenatis. Duis consectetur a ligula vitae sollicitudin. Fusce vitae est consectetur, aliquam erat porttitor, sollicitudin dui. </p>
      </div>
    </div> -->

    <div class="resume-item photo-project col-sm-6">
      <div class="">
        <div class="preview"></div> 
        <h5><span class="">Performance Art</span></h5>
        <h2>Fire Performance &amp; Dance</h2>
        <p class="serif">When practicing club juggling, I came into acquaintance with a number of circus performers. Part of their act was mixing elements of fire performance such as fire breaking, and spinning with more traditional forms of dance and Poi.</p>
        <a class="serif" href="/fire-photography/">See More</a>
      </div>
    </div>

    <div class="resume-item photo-project col-sm-6">
      <div class="">

        <div class="preview"></div>

        <h5><span class="">Photography</span></h5>
        <h2>Portrait &amp; Studio</h2>
        <p class="serif">...</p>
        <a class="serif">See More</a>
      </div>
    </div>

<!-- 

    <div class="masonry row">
      <a class="brick col-md-4 col-sm-6 col-xs-12" href="/swarm-navigation/" style="background-image: url('/img/swarm.png')">
        <div>
          <p class="tag">Project</p>
          <h2><span>Swarm</span> Navigation</h2>
        </div>
      </a>
      <a class="brick col-md-4 col-sm-6 col-xs-12" style="background-color: #72c267;" href="/g-player/">
        <div>
          <p class="tag">Project</p>
          <h2><span>G</span>Player</h2>
        </div>
      </a>
      <a class="brick col-md-4 col-sm-6 col-xs-12" style="background-color: #72c267;" href="/g-player/">
        <div>
          <p class="tag">Project</p>
          <h2><span>Capstone</span></h2>
        </div>
      </a>
    </div>
    
    <br><br><br>
 -->
<!--     <h2 class="center">Photography</h2>

    <div class="masonry row"> -->




    <!-- <a class="brick col-md-4 col-sm-6 col-xs-12" href="/tablelist/" style="background-color: #42bcb0">
      <div>
        <p class="tag">Software</p>
        <h2><span>Tablelist</span>.com</h2>
      </div>
    </a> -->
    <!-- <a class="brick col-md-4 col-sm-6 col-xs-12" href="/nightpro/" style="background-color: #333">
      <div>
        <p class="tag">Software</p>
        <h2><span>NightPro</span>.co</h2>
      </div>
    </a> -->
<!-- 
    <a class="brick col-md-4 col-sm-6 col-xs-12" href="/botswana/" style="background-image: url('//alexjohnson-io.imgix.net/images/gallery/botswana/IMG_2725_2.jpg?w=500')">
      <div>
        <p class="tag">Photography</p>
        <h2><span>Headshots</span> &amp; <br> Studio</h2>
      </div>
    </a>

    <a class="brick col-md-4 col-sm-6 col-xs-12" href="/botswana/" style="background-image: url('//alexjohnson-io.imgix.net/images/gallery/botswana/IMG_2725_2.jpg?w=500')">
      <div>
        <p class="tag">Photography</p>
        <h2><span>Botswana</span> &amp; <br> South Africa</h2>
      </div>
    </a>
    <a class="brick col-md-4 col-sm-6 col-xs-12" href="/thailand/" style="background-image: url('//alexjohnson-io.imgix.net/images/gallery/thailand/DSC_2385.jpg?w=500')">
      <div>
        <p class="tag">Photography</p>
        <h2><span>Thailand</span> &amp; Cambodia</h2>
      </div>
    </a>
    <a class="brick col-md-4 col-sm-6 col-xs-12" style="background-image: url('//alexjohnson-io.imgix.net/images/gallery/fire-performance/fire-fan-3.jpg?w=500')" href="/fire-photography/">
      <div>
        <p class="tag">Photography</p>
        <h2><span>Firedancing</span> &amp; Performance</h2>
      </div>
    </a>
     -->
    <!-- <a class="brick col-md-4 col-sm-6 col-xs-12" style="background-color: #299dcc;" href="/texture-technologies/">
      <div>
        <p class="tag">Software</p>
        <h2><span>Texture</span><br>Technologies</h2>
      </div>
    </a>
    <a class="brick col-md-4 col-sm-6 col-xs-12" style="background-color: #72c267;" href="/evertrue/">
      <div>
        <p class="tag">Software</p>
        <h2><span>Ever</span>True</h2>
      </div>
    </a> -->

    <!-- </div> -->
  </div>
  
    <!-- Pages -->
<!--     <br><br>
    <h1 class="serif center">Software Projects</h1>
    <div class="grid row">
      {% for page in site.pages %}
      {% if page.hidden != true %}
      <div class="content-block col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a href="{{ page.url | prepend: site.baseurl }}">
          <figure class="effect-julia">
            <div class="background-image" style="background-image: url('{{ page.img }}')">
              <figcaption class="preview">
                <h2>{{ page.title }}</h2>
                <h2>{{ page.hidden }}</h2>
              </figcaption>
          </figure>
        </a>
      </div>
        {% endif %} {% endfor %}
    </div> -->
    <!-- Posts -->
    <br><br>
    
    <!-- <h1 class="serif">Posts</h1> {% for post in site.posts %}
    <article>
      <time>{{ post.date | date_to_string }}</time> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></article>
      {% endfor %} -->
</div>
