--- 
layout: default
title: alexjohnson.io 
hidden: true 
---
<div id="home">
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <img class="alex" src="//alexjohnson-io.imgix.net/images/alex.jpg?w=150" />
        </div>
        <div class="col-sm-6">
          <h1 class="serif">Alex Johnson</h1>
          <p class="serif">Software Engineer. Specializing in Javascript &amp; Angular.js. Graduated from Northeastern University in 2015 with a degree in Computer Science &amp; Interactive Media. Photographer by hobby. When not writing JS, I'm either biking around Boston or playing Ultimate Frisee. Currently at <a href="https://www.tablelist.com/" target="_blank">Tablelist</a> making Single Page Web Apps for Nightlife.</p>
          <a class="serif" href="/tablelist-com.html">Read More</a>
        </div>
      </div>
      <br>
      <br>
      <hr>
    </div>
  </div>
  <div class="container">
    <!-- Galleries -->
    <h1 class="serif">Photography</h1>
    <div class="grid row">
      <div class="content-block col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a href="/botswana.html">
          <figure class="effect-julia">
            <div class="background-image" style="background-image: url('//alexjohnson-io.imgix.net/images/gallery/botswana/IMG_2725_2.jpg?w=500')">
              <figcaption class="preview">
                <h2>Botswana &amp; South Africa</h2>
                <h2></h2>
                <div>
                </div>
              </figcaption>
            </div>
          </figure>
        </a>
      </div>
      <div class="content-block col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a href="/thailand.html">
          <figure class="effect-julia">
            <div class="background-image" style="background-image: url('//alexjohnson-io.imgix.net/images/gallery/thailand/DSC_3661.jpg?w=500')">
              <figcaption class="preview">
                <h2>Thailand</h2>
                <h2></h2>
                <div>
                </div>
              </figcaption>
            </div>
          </figure>
        </a>
      </div>
      <div class="content-block col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a href="/fire-photography.html">
          <figure class="effect-julia">
            <div class="background-image" style="background-image: url('//alexjohnson-io.imgix.net/images/gallery/fire-performance/fire-fan-3.jpg?w=500')">
              <figcaption class="preview">
                <h2>Fire Performance</h2>
                <h2></h2>
                <div>
                </div>
              </figcaption>
            </div>
          </figure>
        </a>
      </div>
    </div>
    <!-- Pages -->
    <br><br>
    <h1 class="serif">Software</h1>
    <div class="grid row">
      {% for page in site.pages %}
      {% if page.hidden != true %}
      <div class="content-block col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a href="{{ page.url | prepend: site.baseurl }}">
          <figure class="effect-julia">
            <div class="background-image" style="background-image: url('{{ page.img }}')">
              <figcaption class="preview">
                <h2>{{ page.title }}</h2>
                <h2>{{ page.hidden }}</h2>
                <div>
                </div>
              </figcaption>
          </figure>
        </a>
      </div>
        {% endif %} {% endfor %}
    </div>
    <!-- Posts -->
    <br><br>
    <h1 class="serif">Posts</h1> {% for post in site.posts %}
    <article>
      <time>{{ post.date | date_to_string }}</time> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></article>
      {% endfor %}
  </div>
</div>
