--- 
layout: default
title: alexjohnson.io 
hidden: true 
---
<div id="home">
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <img class="alex" src="//alexjohnson-io.imgix.net/images/alex.jpg?w=150" />
        </div>
        <div class="col-sm-6">
          <h1 class="serif">Alex Johnson</h1>
          <p class="serif">Software Engineer. Specializing in Javascript &amp; Angular.js. Graduated from Northeastern University in 2015 with a degree in Computer Science &amp; Interactive Media. Photographer by hobby. When not writing Javascript, I'm either biking around Boston or playing Ultimate Frisee. </p>
          <p class="serif">Currently at <a href="/tablelist/">Tablelist</a> making Single Page Web Apps for Nightlife.</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="masonry row">
      <a class="brick col-md-4 col-sm-6 col-xs-12" href="/tablelist/" style="background-color: #42bcb0">
        <div>
          <p class="tag">Software</p>
          <h2><span>Tablelist</span>.com</h2>
        </div>
      </a>
      <a class="brick col-md-4 col-sm-6 col-xs-12" href="/nightpro/" style="background-color: #333">
        <div>
          <p class="tag">Software</p>
          <h2><span>NightPro</span>.co</h2>
        </div>
      </a>
      <a class="brick col-md-4 col-sm-6 col-xs-12" href="/swarm-navigation/" style="background-image: url('/img/swarm.png')">
        <div>
          <p class="tag">Project</p>
          <h2><span>Swarm</span> Navigation</h2>
        </div>
      </a>
      <a class="brick col-md-4 col-sm-6 col-xs-12" href="/botswana/" style="background-image: url('//alexjohnson-io.imgix.net/images/gallery/botswana/IMG_2725_2.jpg?w=500')">
        <div>
          <p class="tag">Photography</p>
          <h2><span>Botswana</span> &amp; <br> South Africa</h2>
        </div>
      </a>
      <a class="brick col-md-4 col-sm-6 col-xs-12" href="/thailand/" style="background-image: url('//alexjohnson-io.imgix.net/images/gallery/thailand/DSC_2385.jpg?w=500')">
        <div>
          <p class="tag">Photography</p>
          <h2><span>Thailand</span> &amp; Cambodia</h2>
        </div>
      </a>
      <a class="brick col-md-4 col-sm-6 col-xs-12" style="background-image: url('//alexjohnson-io.imgix.net/images/gallery/fire-performance/fire-fan-3.jpg?w=500')" href="/fire-photography/">
        <div>
          <p class="tag">Photography</p>
          <h2><span>Firedancing</span> &amp; Performance</h2>
        </div>
      </a>
    </div>
  </div>
  
    <!-- Pages -->
<!--     <br><br>
    <h1 class="serif center">Software Projects</h1>
    <div class="grid row">
      {% for page in site.pages %}
      {% if page.hidden != true %}
      <div class="content-block col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a href="{{ page.url | prepend: site.baseurl }}">
          <figure class="effect-julia">
            <div class="background-image" style="background-image: url('{{ page.img }}')">
              <figcaption class="preview">
                <h2>{{ page.title }}</h2>
                <h2>{{ page.hidden }}</h2>
              </figcaption>
          </figure>
        </a>
      </div>
        {% endif %} {% endfor %}
    </div> -->
    <!-- Posts -->
    <br><br>
    
    <!-- <h1 class="serif">Posts</h1> {% for post in site.posts %}
    <article>
      <time>{{ post.date | date_to_string }}</time> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></article>
      {% endfor %} -->
</div>
