<nav class="footer">
  <div class="container">

    <!-- <p class="serif"><strong>Featured: </strong> <a href="/tablelist/">Tablelist</a>, <a href="/nightpro/">NightPro</a>, <a href="/swarm-navigation/">Swarm Navigation</a>, <a href="/texture-technologies/">Texture Technologies</a>, <a href="/evertrue/">EverTrue</a></p>
    <p class="serif"><strong>Photography: </strong> <a href="/botswana/">Botswana &amp; South Africa</a>, <a href="/thailand/">Thailand</a>, <a href="/fire-photography/">Fire Performance</a></p> -->

<!--     
    <p class="serif"><strong>Projects: </strong>

    {% for page in site.pages %} {% if page.hidden != true %}
    <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>,
    {% endif %} {% endfor %}

    </p>

    <p class="serif"><strong>Posts: </strong>
    {% for post in site.posts %}
    <a href="{{ post.url }}">{{ post.title }}</a>, 
    {% endfor %}
    </p> -->

    <p class="links">For more info, see my
      <a href="https://github.com/alexjohnson505" target="_blank">GitHub</a>,
      <a href="http://stackoverflow.com/users/1508105/alex-johnson" target="_blank">StackOverflow</a>,
      <a href="https://www.linkedin.com/in/alexjohnson505" target="_blank">LinkedIn</a>, or
      <a href="/resume">Resume</a>.
    </p>

    <p class="copyright">Copyright alexjohnson.io | Cambridge, MA 02139</p>
  </div>
</nav>