<nav class="top">
  <div class="container">
    <a href="/"><h1><b>Alex Johnson</b> <span class="class">| {{ page.title }}</span></h1></a>
    <div class="quick-links">
      <a href="https://github.com/alexjohnson505" target="_blank"><i class="fa fa-github"></i></a>
      <a href="http://stackoverflow.com/users/1508105/alex-johnson" target="_blank"><i class="fa fa-stack-overflow"></i></a>
      <a href="https://www.linkedin.com/in/alexjohnson505" target="_blank"><i class="fa fa-linkedin"></i></a>
    </div>
  </div>
</nav>