
/***************************************
          alexjohnson.io
              Styles
****************************************/

/* ------ Globals : Colors ------ */

$yellow: #fde577;
$orange : #f6b919;
$tablelist-green: #42bcb0;
$nightpro-grey: #333;

$nav-height: 40px;
$page-width: 550px;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "boilerplate",
        "animations",
        "print";

/* ------ BOILERPLATE TEMPLATE ------ */

body {
  font-family: 'Open Sans';
  font-weight: 400;
  overflow-y: scroll;
  padding-top: $nav-height;
  line-height: 1.6;

  h1 {
    margin-bottom: 30px;
    
    strong {
      font-weight: 700;
    }
  }
  h2 {
    font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;  
    letter-spacing: -2px;
    font-size: 40px;
    max-width: $page-width;
    margin: 0 auto .6em;
  }
  h3 {
    margin-bottom: 20px;
    font-weight: 600;
    text-align: left;
  }
  h5 {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .8px;
    max-width: $page-width;
    margin: 0 auto 1em;
  }
  a {
    color: #102c34;
    border-bottom: 1px solid #102c34;
    font-size: 18px;
    font-weight: 400;
    &:hover, 
    &:focus,
    &:active {
      color: $orange;
      border-bottom: 1px solid $orange;
      text-decoration: none !important;
    }
    &.light {
      color: #fff;
      border-bottom: 1px solid #fff;

    }
  }
  p {
    margin: 0 auto 20px;
    font-size: 18px;
    text-align: left;
    line-height: 1.6;

    &.light {
      font-weight: 100;
      color: #fff;
    }

  }
}

.serif {
  font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;  

  &.long {
    max-width: $page-width;
    margin: 0 auto 1.6em;
    text-indent: 1em;
  }

  &.quote {
    max-width: $page-width - 70px;
    margin: 0 auto 1.6em;
    font-style: italic;
    text-indent: 1.6em;
  }

  &.strong {
    font-weight: 600;
  }
}

.sans-serif {
  font-family: 'Open Sans', 'Helvetica', 'Arial';
  
  &.long {
    line-height: 36px;
  }
}


  // h2 {

  // }
  // h5 {

  // }


/* ------ Home ------ */

#home {

  .header {
    padding: 80px 0 60px;
    background-color: #fff;

    img.alex {
      width: 150px;
      margin-top: 40px;
      border-radius: 100px;
      float: right;
    }
    h1 {
      color: #102c34;
    }
    p {
      color: #102c34;
    }
    hr {
      margin: 35px 45px;
      border-bottom: 1px solid #102c34;
      opacity: .5;
    }
  }

  .currently {
    img {
      height: 450px;
      float: right;      
    }
  }

  // .grid {
  //   max-width: 1600px;
  //   margin: 0 auto;
  //   padding-top: 0;
  // }

  // .content-block {
  //   padding: 2px;
  //   height: 360px;
  //   max-height: 360px;
  //   overflow: hidden;
  // }

  // .content-block .background-image {
  //   background-size: cover;
  //   position: absolute;
  //   top: 0;
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  // }

  // .content-block figure {
  //   position: relative;
  //   float: left;
  //   width: 100%;
  //   height: 100%;
  //   background: #2f3238;
  //   text-align: center;
  //   cursor: pointer;

  //   overflow: hidden;
  //   margin: 0;
  //   min-width: 320px;
  //   max-width: 480px;
  //   max-height: 360px;
  // }

  .masonry {
    .brick {
      background-color: #eee;
      overflow: hidden;
      border: 4px solid #fff;
      height: 300px;
      background-color: #fff;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
      
      .tag {
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 0;
        letter-spacing: 1;
        font-weight: 200;
        border: 1px solid #fff;
        display: inline;
        padding: 2px 6px;
        position: absolute;
        top: 15px;
        left: 15px;
      }
      h2 {
        color: #fff;
        margin-top: 8px;
        font-weight: 200;
        text-transform: uppercase;
        text-align: center;
        text-shadow: 2px 2px 2px rgba(0,0,0,.2);
        letter-spacing: 0;
        font-size: 30px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

        span {
          font-weight: 800;
        }
      }

    }
  }
}

/* ------ Content Page ------ */

.page {
  overflow: hidden;

  .marquee {
    padding-top: 50px;
    position: relative;

    &.nightpro {
      .background {
        background-color: $nightpro-grey; 
      }
    }

    &.tablelist {
      .background {
        background-color: $tablelist-green; 
      }
    }

    &.swarm {
      .background {
        background: url('/img/upload/swarm-navigation-v1.3.png');
        background-size: cover;
        bottom: 0;
        webkit-transform: rotate(-3deg);
        transform: rotate(-3deg);
      }
    }

    &.texture-technologies {
      .background {
        background-color: #299dcc;
      }
    }

    &.evertrue {
      .background {
        background-color: #72c267;
      }
    }
  }

  .background {
    webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
    background-color: #eee;
    position: absolute;
    z-index: -1;
    top: -50px;
    bottom: 120px;
    left: -50px;
    right: -50px;
  }

  img {
    &.logo {
      max-width: 200px;
      margin: 30px auto 40px;
      display: block;

    }
    &.full {
      max-width: $page-width;
      display: block;
      margin: 0 auto;
    }
  }

  a.fancybox {
    max-width: $page-width + 100px;
    margin: 0 auto 1.6em;
    display: block;
    border-bottom: none;

    img {
      width: 100%;
    }
  }
}

/* ------ Gallery ------ */

.gallery {

  .preview {
    overflow: hidden;
    padding: 1px;
    height: 340px;
  }
  .img {
    background-position: center;
    background-size: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: 1px;
  }
  img {
    width: 100%;

  }
}

/* ------ Blog Post ------ */

.post {
  padding-top: $nav-height;
}

/* ------ Header ------ */

nav.top {
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0px;
  background-color: rgba(256, 256, 256, 0.95);
  height: $nav-height;
  border-bottom: 1px solid #eee;

  -webkit-box-shadow: 0px 4px 6px -2px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 4px 6px -2px rgba(0,0,0,0.4);
  box-shadow: 0px 4px 6px -2px rgba(0,0,0,0.4);

  a {
    color : #000;
    text-decoration: none;
    border-bottom: none;
    margin: 5px 0;
  }

  h1 {
    display: inline-block;
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 1px;
    margin: 10px 0;
  }

  b {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: -1px;
  }

  .quick-links {
    float: right;
    margin: 5px 0;
  }

  .quick-links i.fa {
    font-size: 22px;
    margin-left: 10px;
    margin-top: 3px;
  }

  .quick-links i.fa:hover {
    color: #3E5879;
  }
}

/* ------ Footer ------ */

nav.footer {
  margin-top: 40px;

  hr {
    margin: 20px auto 40px;
  }

  a {
    border: none;

    &:hover {
      text-decoration: none;
    }
  }

  p {
    font-size: 18px;
    color: #222;
    font-weight: 200;
  }

  p.copyright {
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 12px;
    text-align: center;    
  }
}

/* ------ Utility ------ */

.hidden-sm {
  @media screen and (max-width: 400px) {
    display: none;
  }
}

.debug {
  * {
    border: 1px dashed orange !important;
  }
}
.center {
  text-align: center;
  margin-bottom: 20px;
}

.shadow {
  box-shadow: 3px 2px 14px #bababa;
}

.right {
  text-align: right;
}

.clickable:hover {
  cursor: pointer;
}

.margin-top-1em {
  margin-top: 1em;
}

.margin-top-2em {
  margin-top: 2em;
}

.margin-bottom-1em {
  margin-bottom: 1em;
}

.margin-bottom-2em {
  margin-bottom: 2em;
}

.line-break {
   margin: 20px auto 0;
   display: block;
   max-width: 140px;
}
