
<!-- Filter Controls -->
<!-- <div class="controls">
	<ul class="filter">
		<li class="filter active" data-filter="show_all">Show All</li>
		<li class="filter" data-filter="web">Web Development</li>
		<li class="filter" data-filter="programming">Programming</li>
		<li class="filter" data-filter="photography">Photography</li>
		<li class="filter" data-filter="design">Web Design</li>
		<li class="filter" data-filter="graphic">Graphic Design</li>
	</ul>
</div>-->



<div class="grid">
	<div ng-repeat="post in posts" class="content-block col-lg-3 col-md-4 col-sm-6 col-xs-12">
		<figure class="effect-julia">
			<img ng-src="{{ post.img }}">
			<figcaption>
				<h2> {{ post.nameSmall }} <span> {{ post.nameLarge }} </span></h2>
				<div>
					<p>{{ post.p1 }}</p>
					<p>{{ post.p2 }}</p>
					<p>{{ post.p3 }}</p>
				</div>

				<a href="{{ post.link }}">View more</a>
			</figcaption>			
		</figure>
	</div>
</div>
