<div class="container">

	<div class="row" style="margin-top: 30px;">

		<div class="col-sm-3">
			<img src="images/alex.jpg" class="profile">
		</div>
		<div class="col-sm-9">

			<h3>CS4550 Web Development - Alex Johnson</h3>
			<p>This section of the site is in development. The goal is to build a re-usable Angular.js front-end for sorting and organizing posts such as content sections or portfolio items.</p>

		</div>
	</div>

	<hr />

	<!-- Filter Controls -->
	<!-- <div class="controls">
		<ul class="filter">
			<li class="filter active" data-filter="show_all">Show All</li>
			<li class="filter" data-filter="web">Web Development</li>
			<li class="filter" data-filter="programming">Programming</li>
			<li class="filter" data-filter="photography">Photography</li>
			<li class="filter" data-filter="design">Web Design</li>
			<li class="filter" data-filter="graphic">Graphic Design</li>
		</ul>
	</div>-->

	
	<div class="grid">
		<figure class="effect-julia">
			<img src="http://placehold.it/480x360">
			<figcaption>
				<h2>Assignment <span>MEAN</span></h2>
				<div>
					<p>Using Node.js and Angular</p>
					<p>to create a CRUD single page app</p>
					<p>for data management.</p>
				</div>
				<a href="http://nodejs-johnsoncs4550.rhcloud.com/#/courses">View more</a>
			</figcaption>			
		</figure>
		<figure class="effect-julia">
			<img src="http://placehold.it/480x360">
			<figcaption>
				<h2>Assignment <span>jQuery</span></h2>
				<div>
					<p>Data Management using everyone's</p>
					<p>favorite DOM manipulation library</p>
				</div>
				<a href="http://net4.ccs.neu.edu/home/alexj/assignments/jquery/profile.html">View more</a>
			</figcaption>			
		</figure>
		<figure class="effect-julia">
			<img src="http://placehold.it/480x360">
			<figcaption>
				<h2>Assignment <span>CSS</span></h2>
				<div>
					<p>An example of CSS Frameworks</p>
					<p>using Boostrap for templating</p>
					<p>for data management.</p>
				</div>
				<a href="http://net4.ccs.neu.edu/home/alexj/assignments/css/profile.html">View more</a>
			</figcaption>			
		</figure>
		<figure class="effect-julia">
			<img src="http://placehold.it/480x360">
			<figcaption>
				<h2>Assignment <span>HTML</span></h2>
				<div>
					<p>A basic example of HTML</p>
					<p>Creating the DOM for a web page.</p>
				</div>
				<a href="http://net4.ccs.neu.edu/home/alexj/assignments/html/studyList.html">View more</a>
			</figcaption>			
		</figure>
	</div>

	<div class="grid">
	
	<hr />

		<figure class="effect-julia" ng-repeat="post in posts">
			<img ng-src="{{ post.img }}">
			<figcaption>
				<h2> {{ post.nameSmall }} <span> {{ post.nameLarge }} </span></h2>
				<div>
					<p>{{ post.p1 }}</p>
					<p>{{ post.p2 }}</p>
					<p>{{ post.p3 }}</p>
				</div>

				<a href="{{ post.link }}">View more</a>
			</figcaption>			
		</figure>

	</div>

</div>
