<div class="banner">
</div>

<div class="container post">

	<h1 data-ng-bind-html="post.title | to_trusted"></h1>

	<p class="serif"><a href="/">alexjohnson.io</a> <a href="/" ng-if="post.category">| {{ post.category }}</a> | {{ post.slug }}</p>

	<p class="serif long"> {{ post.summary }} </p>

	<p class="serif long"> {{ post.description }} </p>
	
	<p class="serif long">{{ post.content }}</p>

	<ul class="grid" ng-if="post.gallery">
		<li class="mix fire" ng-repeat="image in post.images">
			<a href="{{ image.url }}" class="fancybox" rel="fire" title="{{ image.title }}">
				<img src="{{ image.thumb }}" />
			</a>
		</li>
	</ul>

	<h2>Related</h2>

	<a ng-repeat="post in posts" href="/posts/{{post.slug}}" style="padding: 0 10px 0 0">{{ post.slug }}</a>

</div>
